dist
dist/*
.tox
.tox/*
__pycache__
tests/__pycache__
toolbox/__pycache__
toolbox/__pycache__/*
tests/__pycache__/*
toolbox/sparky/__pycache__/*
coverage.xml
htmlcov
htmlcov/*
test-report.xml
.coverage
.vscode*
.vscode/*